<style>
    p {
        color: rgba(206, 204, 204, 0.848);
        font-size: medium;
    }
</style>
<div class="container-about" ng-controller="aboutCtrl">
    <div class="bg-shop"></div>
    <div class="container">
        <div class="about">
            <div class="about-img wd-haft">
                <img src="./images/about-img.jpg" alt="">
            </div>
            <div class=" wd-haft">
                <div class="content-product__head">
                    <h1 class="about-heading-text content-name">About Us</h1>
                    <div class="button">
                        <a class="content-product__down" id="btn-down1" ng-click="showContent1()">
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                        <a class="content-product__up hiden-btn" id="btn-up1" ng-click="hidenContent1()">
                            <i class="fa-solid fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <p>
                    All of our cakes and treats are made fresh from scratch with every order. Nothing is ever frozen and
                    we use all natural ingredients. Great care is taken with each and every order, and decorated to
                    impress.
                    
                </p>
                <div class="content-product-body" id="task1">
                    <p>
                        We strive to set new trends and are constantly inspired by our customer's creativity! Combining
                        our good ol' fashioned scratch baking with fresh ideas push us into creative unchartered cake
                        decorating territory.
                    </p>
                    <p> We promise to leave you satisfied and full of happiness with every bite!</p>
                </div>
            </div>
        </div>


        <!-- task 2 Mission -->
        <div class="about">
            <div class=" wd-haft">
                <div class="content-product__head">
                    <h1 class="about-heading-text content-name">Our Mission</h1>
                    <div class="button">
                        <a class="content-product__down" id="btn-down2"ng-click="showContent2()">
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                        <a class="content-product__up hiden-btn" id="btn-up2" ng-click="hidenContent2()">
                            <i class="fa-solid fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <p>
                    The mission is to enthusiastically re-invent the way the customers enjoy the collaborative
                    expression of unique, eloquent, and “outside the box” thinking in bakery designs allowing to exceed
                    the customer expectations.
                </p>
                <div class="content-product-body" id="task2">
                    <p>
                        The goal, provide supreme product and customer experience using quality
                        ingredients and new techniques to create a product truly superior in taste and design. Provide
                        appreciation to each guest for the opportunity to serve them and provide happiness and joy
                        through the art of food.
                    </p>
                    <p> We promise to leave you satisfied and full of happiness with every bite!</p>
                </div>
            </div>
            <div class="about-img wd-haft">
                <img src="./images/about-img.jpg" alt="">
            </div>
        </div>


        <!-- task 3 Vision -->
        <div class="about">
            <div class="about-img wd-haft">
                <img src="./images/about-img.jpg" alt="">
            </div>
            <div class=" wd-haft">
                <div class="content-product__head">
                    <h1 class="about-heading-text content-name">Our Vision</h1>
                    <div class="button">
                        <a class="content-product__down" id="btn-down3" ng-click="showContent3()">
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                        <a class="content-product__up hiden-btn" id="btn-up3" ng-click="hidenContent3()">
                            <i class="fa-solid fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <p>
                    The Little Cake Shop vision is to collaborate with the customers in creating custom, fashionable,
                    unique to them, and one of kind design bakeries for occasions with guarantee satisfaction bringing
                    happiness and excitement to each customer.
                </p>
                <div class="content-product-body" id="task3">
                    <p>
                        Provide the top quality of taste to each individual
                        pieces of art as the customer envisioned. Provide the same vision and communication to customers
                        to exceed the customers expectations. Build a business by engaging in the customer experience,
                        innovation, and customer focus, delivery of results, trusting, inspired, and successfully
                        reaching expectation.
                    </p>
                    <p>
                        Provide for the communities for which the business serves with quality products and
                        give back to what makes communities cohesive.
                    </p>
                </div>
            </div>
        </div>
        <button class="blog-totop">Scroll To Top</button>
    </div>
</div>

