<div class="container-contact" ng-controller="blogCtrl">
    <div class="bg-shop"></div>
    <div class="container">
        <div class="container-contact__content">
            <div class="container">

                <div class="container-blog">

                    <div class="blog-img ">
                        <div class="image">
                            <img src="../images/blog-1.jpg" alt="">
                        </div>
                        <div class="blog-detail">
                            <div class="read-more-container"></div>
                            <span class="blog-detail-span">Blog-DailyBeat</span>
                            <h2 class="blog-detail-h2">10 ICE CREAM INSPIRED CAKES</h2>
                            <p class="blog-p" style="color: black;">
                                <span style="padding-left: 25px;">Today</span> is National Ice Cream Day! If there’s one
                                thing we
                                love as much as cake around here, it’s ice
                                cream! Because cake and ice cream are the perfect pair and were destined to be together.
                                Today we’re
                                taking a look at some of our favorite ice cream inspired layer cakes. While you won’t
                                find any
                                actual ice cream in these babies, you will find classic ice cream flavors baked into
                                fluffy cake
                                layers and creamy frostings. Layered into delectable, sliceable, serve-able, non-melting
                                cake!
                                Here’s 10 Ice Cream Inspired Cakes!
                            </p>
                            <ul class="blog-readmore">
                                <li class="item__content">- Ice Cream Cake. </li>
                                <li class="item__content">- Banana Split Cake.</li>
                                <li class="item__content">- Mint Cookies N Cream Cake. </li>
                                <li class="item__content">- Neapolitan Cake. </li>
                                <li class="item__content">- Rocky Road Cake. </li>
                                <li class="item__content">- Ultimate Sundae Cake.</li>
                                <li class="item__content">- Strawberry Crunch Cake.</li>
                                <li class="item__content">- Mint Chocolate Chip Cake.</li>
                                <li class="item__content">- Butter Pecan Cake.</li>
                                <li class="item__content">- Orange Creamsicle Cake.</li>
                            </ul>
                            <label class="btn" for="check" onclick="handleShow(0)" style="right: 10%;">Read More</label>
                        </div>
                    </div>

                    <hr>

                    <div class="blog-img">
                        <div class="image">
                            <img src="../images/Anniversary-img/product-8.jpg" alt="">
                        </div>
                        <div class="blog-detail">
                            <div class="read-more-container"></div>
                            <span class="blog-detail-span">Blog-DailyBeat</span>
                            <h2 class="blog-detail-h2">S’MORES CAKE</h2>
                            <p style="color: black;">
                                <span style="padding-left: 25px;">S'mores Cake</span> - Chocolate cake with graham
                                cracker
                                buttercream filling, chocolate ganache
                                frosting and toasted marshmallow meringue. A s'mores inspired layer cake recipe by our
                                contributor, Tessa Huff. For some, the perfect summer vacation isn’t without umbrella
                                drinks and
                                resort pools, but for others, nothing beats a beach bonfire or weekend campout among
                                family and
                                friends. Personally, I love a little of both, but living in the city does make me yearn
                                for
                                nature and a bit of solitude ...
                            </p>
                            <p class="blog-readmore" style="color: black;">
                                For some, the perfect summer vacation isn’t without umbrella drinks and resort pools,
                                but for
                                others, nothing beats a beach bonfire or weekend campout among family and friends.
                                Personally, I
                                love a little of both, but living in the city does make me yearn for nature and a bit of
                                solitude
                                from time to time. A chance to unplug and enjoy the wildlife before heading back to the
                                hustle and
                                bustle. That, or just the chance to make S’MORES!
                            </p>
                            <label class="btn" for="check" onclick="handleShow(1)">Read More</label>
                        </div>
                    </div>

                    <hr>

                    <div class="blog-img ">
                        <div class="image">
                            <img src="../images/gallery/gallery-img-3.jpg" alt="">
                        </div>
                        <div class="blog-detail" style="color: black;">
                            <div class="read-more-container"></div>
                            <span class="blog-detail-span">Blog-DailyBeat</span>
                            <h2 class="blog-detail-h2">CHOCOLATE TRUFFLE CAKE</h2>
                            <p>
                                <span style="padding-left: 25px;">Let</span> me tell you though, this Chocolate Truffle
                                Cake will
                                satisfy any chocolate lovers craving.
                                The cake itself is dense and moist, just like proper chocolate cake should be, and the
                                frosting…. oh that frosting! Pure chocolate heaven! It’s simple, consisting of
                                chocolate, heavy
                                cream, and butter, which is basically how you make a chocolate truffle, albeit with
                                slightly
                                different proportions. It is dreamy chocolate heaven right there.
                            </p>
                            <p class="blog-readmore">
                                I kept the decorating on this cake simple and classic, just like a chocolate truffle.
                                The classic
                                ones you find are covered in a simple dusting of cocoa powder, or sometimes coconut.
                                Nowadays, the
                                possibilities are endless. Because I like simple and elegant, I chose to cover the whole
                                cake in
                                gorgeous chocolate flakes. These may not be incredibly easy to find – I get them at a
                                local gourmet
                                shop – but good old-fashioned chocolate sprinkles will work too!
                            </p>
                            <label class="btn" for="check" onclick="handleShow(2)">Read More</label>

                        </div>
                    </div>

                    <hr>

                    <div class="blog-img">
                        <div class="image">
                            <img src="../images/rainbowcake.jpg" class="a" alt="">
                        </div>
                        <div class="blog-detail" style="color: black;">
                            <div class="read-more-container"></div>
                            <span class="blog-detail-span">Blog-DailyBeat</span>
                            <h2 class="blog-detail-h2">RAINBOW MOSAIC CAKE</h2>
                            <p>
                                <span style="padding-left: 25px;">In</span> my humble opinion, Easter is the BEST time
                                of year for
                                candy. Not only is it tastier than ever (hello, Cadbury Mini Eggs!), but the pastel
                                colors have me
                                all starry-eyed and inspired! As I was recently browsing the Easter candy aisle, I
                                couldn’t help but
                                get all hung up on the seasonal color palette that M&Ms have got going on. After
                                bringing them home
                                and drawing up some ideas, I figured they’d make the perfect pastel mosaic as a cake
                                finish and
                                here’s what happened:
                                <br>

                            </p>
                            <p class="blog-readmore">
                                So pretty, right? I will admit, the geometric design does take some planning (I’ll help
                                you with
                                that below!) but the results are so eye-catching. And once you get into the groove of
                                placing
                                the candies, the process is super therapeutic! It’s basically like putting together an
                                edible
                                puzzle, and since there’s no complicated technique involved, it’s the perfect project
                                for any
                                skill level. Just put on a great album, sneak a few candies every now and then, and put
                                those
                                pieces into place!

                            </p>
                            <label class="btn" for="check" onclick="handleShow(3)">Read More</label>
                        </div>
                    </div>
                </div>

                <button class="blog-totop">Scroll To Top</button>
            </div>
        </div>
    </div>

    <script>
        var blogShow = document.querySelectorAll(".blog-readmore");
        function handleShow(index) {
            if (blogShow[index].style.display === "block") {
                blogShow[index].style.display = "none"
            } else {
                blogShow[index].style.display = "block"
            }
        }
    </script>

    </html>